<!DOCTYPE html>
<html lang="en">
<head>
	<title>Contact V5</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{{url_for('static',filename='favicon.ico')}}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='bootstrap.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='font-awesome.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='material-design-iconic-font.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='animate.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='hamburgers.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='animsition.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='select2.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='daterangepicker.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='nouislider.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='util.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='main.css')}}">
<!--===============================================================================================-->
</head>
<body>


	<div class="container-contact100">
		<div class="wrap-contact100">
			<form class="contact100-form validate-form" action='/predict' method="POST">
				<span class="contact100-form-title" >
					Predict AD CTR (Click through rate)
				</span>
				<p>
				<h3>	{{ prediction_text }} </h3>
				</p>
				<div class="wrap-input100 validate-input bg1" data-validate="Please Type hour">
					<span class="label-input100">hour *</span>
					<input class="input100" type="int" name="hour" placeholder="Enter hour">
				</div>
				<div class="wrap-input100 validate-input bg1" data-validate="Please C1">
					<span class="label-input100">C1 *</span>
					<input class="input100" type="int" name="C1" placeholder="Enter C1">
				</div>
				<div class="wrap-input100 validate-input bg1" data-validate="Please Type banner_pos">
					<span class="label-input100">banner_pos *</span>
					<input class="input100" type="int" name="banner_pos" placeholder="Enter banner_pos">
				</div>
				<div class="wrap-input100 validate-input bg1" data-validate="Please Type site_category">
					<span class="label-input100">site_category *</span>
					<input class="input100" type="text" name="site_category" placeholder="Enter site_category">
				</div>

				<div class="wrap-input100 validate-input bg1" data-validate="Please Type site_category">
					<span class="label-input100">app_category *</span>
					<input class="input100" type="text" name="app_category" placeholder="Enter app_category">
				</div>

				<div class="wrap-input100 validate-input bg1" data-validate="Please Type device_type">
					<span class="label-input100">device_type *</span>
					<input class="input100" type="int" name="device_type" placeholder="Enter device_type">
				</div>
				<div class="wrap-input100 validate-input bg1" data-validate="Please Type device_conn_type">
					<span class="label-input100">device_conn_type *</span>
					<input class="input100" type="int" name="device_conn_type" placeholder="Enter device_conn_type">
				</div>
				<div class="wrap-input100 validate-input bg1" data-validate="Please Type C14">
					<span class="label-input100">C14 *</span>
					<input class="input100" type="int" name="C14" placeholder="Enter C14">
				</div>
				<div class="wrap-input100 validate-input bg1" data-validate="Please Type C15">
					<span class="label-input100">C15 *</span>
					<input class="input100" type="int" name="C15" placeholder="Enter C15">
				</div>
				<div class="wrap-input100 validate-input bg1" data-validate="Please Type C16">
					<span class="label-input100">C16 *</span>
					<input class="input100" type="int" name="C16" placeholder="Enter C16">
				</div>
				<div class="wrap-input100 validate-input bg1" data-validate="Please Type C17">
					<span class="label-input100">C17 *</span>
					<input class="input100" type="int" name="C17" placeholder="Enter C17">
				</div>
				<div class="wrap-input100 validate-input bg1" data-validate="Please Type C18">
					<span class="label-input100">C18 *</span>
					<input class="input100" type="int" name="C18" placeholder="Enter C18">
				</div>
				<div class="wrap-input100 validate-input bg1" data-validate="Please Type C19">
					<span class="label-input100">C19 *</span>
					<input class="input100" type="int" name="C19" placeholder="Enter C19">
				</div>
				<div class="wrap-input100 validate-input bg1" data-validate="Please Type C20">
					<span class="label-input100">C20 *</span>
					<input class="input100" type="int" name="C20" placeholder="Enter C20">
				</div>
				<div class="wrap-input100 validate-input bg1" data-validate="Please Type C21">
					<span class="label-input100">C21 *</span>
					<input class="input100" type="int" name="C21" placeholder="Enter C21">
				</div>

				<div class="container-contact100-form-btn">
					<button class="contact100-form-btn" type="submit">
						<span>
							Submit
						</span>
					</button>
				</div>
				<div class="container-contact100-form-btn">

				</div>
			</form>
			


		</div>
	</div>



<!--===============================================================================================-->
	<script src="{{url_for('static',filename='jquery-3.2.1.min.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{url_for('static',filename='animsition.min.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{url_for('static',filename='popper.js')}}"></script>
	<script src="{{url_for('static',filename='bootstrap.min.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{url_for('static',filename='select2.min.js')}}"></script>
	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});


			$(".js-select2").each(function(){
				$(this).on('select2:close', function (e){
					if($(this).val() == "Please chooses") {
						$('.js-show-service').slideUp();
					}
					else {
						$('.js-show-service').slideUp();
						$('.js-show-service').slideDown();
					}
				});
			});
		})
	</script>
<!--===============================================================================================-->
	<script src="{{url_for('static',filename='moment.min.js')}}"></script>
	<script src="{{url_for('static',filename='daterangepicker.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{url_for('static',filename='countdowntime.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{url_for('static',filename='nouislider.min.js')}}"></script>
	<script>
	    var filterBar = document.getElementById('filter-bar');

	    noUiSlider.create(filterBar, {
	        start: [ 1500, 3900 ],
	        connect: true,
	        range: {
	            'min': 1500,
	            'max': 7500
	        }
	    });

	    var skipValues = [
	    document.getElementById('value-lower'),
	    document.getElementById('value-upper')
	    ];

	    filterBar.noUiSlider.on('update', function( values, handle ) {
	        skipValues[handle].innerHTML = Math.round(values[handle]);
	        $('.contact100-form-range-value input[name="from-value"]').val($('#value-lower').html());
	        $('.contact100-form-range-value input[name="to-value"]').val($('#value-upper').html());
	    });
	</script>
<!--===============================================================================================-->
	<script src="{{url_for('static',filename='main.js')}}"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>

</body>
</html>
